@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
    /* Colors */
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue-bg: hsl(207, 26%, 17%);
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /* Font weights */
    --font-weight-thin: 300;
    --font-weight-bold: 600;
    --font-weight-thick: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    background: var(--very-dark-blue-bg);
    color: var(--white);
    font-family: 'Nunito Sans', sans-serif;
    font-size: .875rem;
    min-height: 100vh;
}

main {
    margin: 0 auto;
    width: 90%;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.light-mode {
    background: var(--very-light-gray);
    color: var(--very-dark-blue-text);
}